# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\分布式项目\flying-pigeon-IM\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
